#slider
{
  max-width:100%;
  height:550px;
  overflow: hidden;
}
#outerbox
{
  width:  670px;
  height: 550px;
  overflow:hidden;
  align-self: center ;
}

#sliderbox
{
  position: relative;
  width: 100%;
  animation:slide 20s infinite;
}

#sliderbox img
{
  width: 100%;
  height: fit-content;
}

@keyframes slide
{
  0% 
  {
    top: 0px;
  }
  5%{
    top: -55%;
  }
  10%
  {
    top: -105%;
  }
  
  20%
  {
    top: -155%;
  }
  
  30%
  {
    top: -205%;
  }
  35%
  {
    top: -255%
  }
  40%
  {
    top: -305%; 
   }
  50%
  {
    top: -355%;
  }
  60%
  {
    top: -375%;
  }
  70%
  {
    top: -390%;
   }
  
  80%
  {
    top: -360%;
   }

   90%{
     top: -55%;
   }
   100%{
    top: -0%;
  }
}
  